<template name="notesListing">
    {{#if currentUser}}
    <h2>
        Your notes
        <small>
            <a href="/notes/add" class="btn btn-xs btn-primary">Add new note</a>
        </small>
    </h2>
    <ul class="list-group">
        {{#if Template.subscriptionsReady}}
            {{#each notes}}
                <a href="/notes/{{_id}}" class="list-group-item">{{title}}</a>
            {{else}}
                <li class="list-group-item">No notes yet!</li>
            {{/each}}
        {{else}}
            <li class="list-group-item">Loading</li>
        {{/if}}
    </ul>
    {{else}}
    <h3>You must sign in.</h3>
    {{/if}}
</template>